<% loan_request.related_projects.each do |p| %>
  <div class="col-sm-3 col-xs-6">
    <%= link_to loan_request_path(p) do %>
      <img class="img-responsive portfolio-item" src=<%= p.image_url %> alt="">
      <p><%= p.title %></p>
    <% end %>
  </div>
<% end %>